.loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	filter: invert(1);
	animation: loading 5s infinite;

	@keyframes loading {
		0%,
		100% {
			transform: rotate(0);
		}
		50% {
			transform: rotate(360deg);
		}
	}
}
